<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>
    <h1>Pan Card Tampering</h1>
  </title>

  <!-- CSS  -->
  <link href="./static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav style="background-color: #5e72e4" class="lighten-1"  role="navigation" style="height: 100px">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo center"><h5>Pan Card Tampering</h5></a>
    </div>
  </nav>

  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        <form action="/" method="post" class="col s12" enctype="multipart/form-data" onsubmit="return validateForm()">
          <div class="row">
          	<div class="input-field col s3">
            </div>

            <!-- First image upload -->
            <div class="input-field col s5" style="margin-left: 20px; margin-top: 20px">
              <div class="row">
                <label for="second_file_upload" style="font-size: 18px;"><b>Upload First Image</b></label><br>
                  <div class="file-field input-field">
                    <div class="btn" style="background-color: #5e72e4">
                      <span>Browse</span>
                      <input type="file" name="file_upload" id="file_upload" />
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload file" name="file_name" id="file_name" />
                    </div>
                  </div>
              </div>
            </div>

            <!-- Second image upload -->
            <div class="input-field col s5" style="margin-left: 20px;">
              <div class="row center">
                  <label for="second_file_upload" style="font-size: 18px;"><b>Upload Second Image</b></label><br>
                  <div class="file-field input-field">
                    <div class="btn" style="background-color: #5e72e4">
                      <span>Browse</span>
                      <input type="file" name="second_file_upload" id="second_file_upload" />
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload file" name="second_file_name" id="second_file_name" />
                    </div>
                  </div>
              </div>
            </div>
          </div>

            <div class="d-flex justify-content-center">
              {% if not similarity_result %}
                <!-- Show "Check" button when no comparison result is available -->
                <button type="submit" class="btn-large" style="background-color: #5e72e4">Check</button>
              {% else %}
                <!-- Show "Reload Page" button when comparison result is available -->
                <button type="button" class="btn-large" style="background-color: #5e72e4" onclick="window.location.href='/reload';">Reload Page</button>
              {% endif %}
            </div>
  

        <!-- Display the result for the comparison -->
        <div style="text-align: center; padding-top: 50px">
          <h5>{{similarity_result}}</h5>

          <!-- Display the uploaded images -->
          {% if similarity_result %}
          <div class="row">
            <div class="col-md-6">
              <h6>First Uploaded Image:</h6>
              <img src="{{ url_for('static', filename='uploads/image.jpg') }}" alt="First Uploaded Image" class="img-fluid">
            </div>

            <div class="col-md-6">
              <h6>Second Uploaded Image:</h6>
              <img src="{{ url_for('static', filename='uploads/second_image.jpg') }}" alt="Second Uploaded Image" class="img-fluid">
            </div>
          </div>
          {% endif %}

        </div>
      </div>
      <br><br>
    </div>
  </div>

  <!-- JavaScripts-->
<script src="./static/js/materialize.js"></script>
<script>
  function validateForm() {
    var fileUpload = document.getElementById('file_upload');
    var secondFileUpload = document.getElementById('second_file_upload');

    if (!fileUpload.files.length || !secondFileUpload.files.length) {
      alert("Please upload both images before checking.");
      return false;
    }
    return true;
  }
</script>
<script type="text/javascript">
    document.getElementById('file_upload').onchange = function () {
        document.getElementById('file_name').value = this.value.slice(12,100);
    };
    document.getElementById('second_file_upload').onchange = function () {
        document.getElementById('second_file_name').value = this.value.slice(12,100);
    };

    // Reload the entire page
    document.getElementById('reload_button').onclick = function () {
        window.location.reload();
    };
</script>


</body>
</html>
